{% load static %}
<!--Footer start-->
<div class="row mt-5 bg-light p-3">
    <div class="col-4">
        <h5>Address</h5>
        <hr>
        No.8, 2nd Floor,
        Outer Ring Road, 1st Phase,
        BTM Layout 2nd Stage, Bengaluru-560076<br><br>
        <p><i class="bi bi-telephone"></i>&nbsp;&nbsp;&nbsp;999999999</p>
        <p><i class="bi bi-envelope-fill text-danger"></i>&nbsp;&nbsp;&nbsp;abc@gmail.com</p>
    </div>   
    <div class="col-4">
        <h5>Quick Links</h5>
        <hr>
        <p><a href="index.html">Home</a></p>
        <p><a href="about.html">About</a></p>
        <p><a href="contact.html">Contact</a></p>
    </div>
    <div class="col-4">
        <h5>Connect Us</h5>
        <hr>
        <h5><a href="https://www.instagram.com/"><i class="bi bi-instagram text-danger"></i></a></h5>
        <h5><a href="https://www.facebook.com/"><i class="bi bi-facebook text-danger"></i></a></h5>
        <h5><a href="https://www.twitter.com/"><i class="bi bi-twitter text-danger"></i></a></h5>
    </div> 
</div><!--Footer end-->


</div>


<script src="{% static 'assets/js/bootstrap.min.js' %}" ></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>